[Desktop Entry]
Version=1.0
Name=Catppuccin
Comment=Catppuccin
Exec=zen-browser https://catppuccin.com/palette/
Terminal=false
Type=Application
Icon=/home/ad/.local/share/applications/icons/Catppuccin.png
StartupNotify=true
