[Desktop Entry]
Version=1.0
Name=Reddit
Comment=Reddit
Exec=zen-browser https://www.reddit.com/
Terminal=false
Type=Application
Icon=/home/ad/.local/share/applications/icons/Reddit.png
StartupNotify=true
