[Unit]
Description=Battery Notification Daemon
After=graphical-session.target

[Service]
ExecStart=/home/arcadian/work/main/dotsh/service/check-battery
Restart=always
RestartSec=60
Type=simple

[Install]
WantedBy=default.target