[Unit]
Description=Wakapi Self-Hosted Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ad/.config/wakapi
ExecStart=/home/ad/.config/wakapi/wakapi
Restart=on-failure

[Install]
WantedBy=default.target

